.App {
  text-align: center;
  padding-top: 40px;
}

.card {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.cardHeader {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cardTable {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cardTable td {
  font-size: 16px;
  padding-bottom: 12px;
}

.cardTableBoldCell {
  font-weight: bold;
}

.showMore {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: grey;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.showMore a {
  font-weight: bold;
  text-decoration: none;
  color: steelblue;
}

.moreSection {
  height: 0px;
  transition: all 1s ease;
  overflow: hidden;
}

.moreSectionHidden {
  height: 150px;
  transition: all 1s ease;
  overflow: hidden;
}

.moreInnerContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.moreRow {
  padding-top: 20px;
}

a:visited { text-decoration: none; color: SteelBlue; }
a:hover { text-decoration: none; color: SteelBlue; cursor: pointer;}
a:focus { text-decoration: none; color: SteelBlue; }
a:hover, a:active { text-decoration: none; color: cornflowerblue }